@import url(button.css);
@import url(topbar.css);

body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
#container, .cover, .hud {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover {
    pointer-events: none;
    background-color: #000;
    opacity: 0.2;
}
.hud {
    pointer-events: none;
    background-color: transparent;
    padding: 0 20px;
    font-family: monospace;
}

.help-container {
    pointer-events: none;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px;
}
.help {
    display: table;
    margin: 100px auto 0;
    font-weight: 300;
}
.help .title {
    font-weight: bold;
}
ul {
    list-style-type: circle;
    padding-left: 30px;
}
.help .credits {
    font-size: 10px;
}

.user-container {
    position: absolute;
    right: 10px;
}

.menu-container {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 360px;
    right: 0;
    margin: 10px 20px 0;
    border-radius: 3px 3px 0 0;
    opacity: 1;
}
.menu-container.ng-hide,
.cover.ng-hide,
.help-container.ng-hide {
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    display: block !important;
}

.crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
}
#stats {
    bottom: 0px; left: 0px;
    display: none;
}


.blocks {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.blocks-center {
    display: table;
    margin: 0 auto;
    background-color: #222;
    padding: 0 8px 0;
    border-radius: 3px 3px 0 0;
}
.block {
    display: inline-block;
    text-align: center;
}
.block img {
    height: 24px;
    width: 24px;
    border: 2px solid transparent;
    margin: 5px 10px 0;
    display: block;
}
.block.selected {
    background-color: #333;
}
.block-name {
    color: #fff;
    font-size: 9px;
}


.menu {
    margin: 20px 0 0 20px;
    overflow-y: auto;
    position: relative;
    height: 100%;
}
.menu .section {
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section {
    font-weight: 300;
}

.section-title {
    font-size: 20px;
}

.section.code textarea{
    resize: none;
    width: 310px;
    height: 160px;
    font-family: monospace;
    font-size: 14px;
}
.error {
    font-style: italic;
    color: red;
    font-size: 12px;
}

.api li {
    font-family: monospace;
    font-size: 12px;
}
.api pre {
    font-size: 12px;
}

.button-container {
    display: inline-block;
    margin-right: 5px;
}

.user-settings {
    margin: 100px auto 0;
    display: table;
}

.field {
    margin-bottom: 20px;
}
