<!doctype html>
{% autoescape true %}
<html ng-app="cc">
  <head>
    <title>Codingcraft</title>
    <meta charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  </head>
  <body ng-controller="GameController as game">
    {% raw %}
    <div id="container">
      <div id="crosshair" ng-hide="!game.hideCover">
        <img src="images/crosshair.png"/>
      </div>
      <div class="blocks">
        <div class="blocks-center">
          <span class="block" ng-repeat="icon in game.icons" ng-class="{selected: game.currentMaterial == $index}">
            <img ng-src="/textures/{{icon}}.png">
            <span class="block-name">{{icon}}</span>
          </span>
        </div>
      </div>
    </div>
    <div id="cover" ng-hide="game.hideCover">
      <div class="help">
        <div class="title">Click to play!</div>
        <div class="section">How to play.</div>
        <ul>
          <li>Move - W, A, S, D or arrow keys</li>
          <li>Remove a block - Mouse click</li>
          <li>Put a block - Ctrl+mouse click</li>
          <li>Change the block - Tab</li>
          <li>Jump - Space</li>
          <li>Fly - Space Space</li>
          <li>Go down - Shift</li>
        </ul>
        <div class="credits">Made by codingcraft@github using voxeljs@github</div>
      </div>
    </div>
    {% endraw %}
    <div id="menu-container">
      <div id="user">
        {% raw %}{{game.mapKey}}{% endraw %} - {{username}}
      </div>
      <div class="menu">
        {% raw %}
        <div class="title">Codingcraft v0.1</div>
        <div class="section code">
          <div>
            <textarea ng-model="game.codes[game.currentCode]"></textarea>
          </div>
          <div class="error" ng-cloak>{{game.syntaxError}}</div>
          <div>
            <span class="button-container" ng-repeat="code in game.codes track by $index">
              <button class="button primary"
                      ng-class="{checked: game.currentCode == $index}"
                      ng-click="game.setCurrentCode($index)">
                {{$index+1}}
              </button>
            </span>
            <div>To run the code, press the number with Alt key.</div>
          </div>
          <div>
            <button class="button primary" ng-click="game.saveCodes()">Save codes</button>
          </div>
          <span>Target position: </span>
          <span ng-show="game.blockPosPlace == null && game.blockPosErase == null">Not available</span>
          <span ng-hide="game.blockPosPlace != null">{{game.blockPosErase}}</span>
          <span ng-show="game.blockPosPlace != null">{{game.blockPosPlace}}</span>
        </div>
        <div class="section">
          <div class="title">Menu</div>
          <div>
            <span class="button-container">
              <button class="button primary" ng-click="game.saveMap()">Save map</button>
            </span>
            <span class="button-container">
              <button class="button secondary" ng-click="game.resetMap()">Reset map</button>
            </span>
            <!--
            <span class="button-container">
              <button class="button secondary" ng-click="game.startMultiplay()">Start multiplay</button>
            </span>
            -->
          </div>
          <div>We're supporting only one map. It will be more than one soon.</div>
        </div>
        {% endraw %}

        <div class="section api">
          {% include "api.html" %}
        </div>
      </div>
    </div>

    <script src="js/game_bundle.js"></script>
  </body>
</html>
{% endautoescape %}

