<!doctype html>
{% autoescape true %}
<html ng-app="cc">
  <head>
    <title>Codingcraft</title>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  </head>
  <body ng-controller="GameController as game">
    {% raw %}
    <div id="container">
      <div id="crosshair" ng-hide="!game.hideCover">
        <img src="images/crosshair.png"/>
      </div>
      <div class="blocks">
        <div class="blocks-center">
          <span class="block" ng-repeat="icon in game.icons" ng-class="{selected: game.currentMaterial == $index}">
            <img ng-src="/textures/{{icon}}.png">
            <span class="block-name">{{icon}}</span>
          </span>
        </div>
      </div>
    </div>
    <div id="cover" ng-hide="game.hideCover">
      <div class="help">
        <div class="title">Click to play!</div>
        <div class="section">How to play.</div>
        <ul>
          <li>Move - W, A, S, D or arrow keys</li>
          <li>Remove a block - Mouse click</li>
          <li>Put a block - Ctrl+mouse click</li>
          <li>Change the block - Tab</li>
          <li>Jump - Space</li>
          <li>Fly - Space Space</li>
          <li>Go down - Shift</li>
        </ul>
        <div class="credits">Made by codingcraft@github using voxeljs@github</div>
      </div>
    </div>
    {% endraw %}
    <div id="menu-container">
      <div id="user">
        {{username}}
      </div>
      {% raw %}
      <div class="menu">
        <div class="title">Codingcraft v0.1</div>
        <div class="section code">
          <div>
            <textarea ng-model="game.codes[game.currentCode]"></textarea>
          </div>
          <div>
            <button ng-repeat="code in game.codes track by $index"
                    ng-class="{selected: game.currentCode == $index}"
                    ng-click="game.setCurrentCode($index)">
              {{$index+1}}
            </button>
            <button ng-click="game.runCode(game.currentCode)">Run current code</button>
          </div>
          <span>Target position: </span>
          <span ng-show="game.blockPosPlace == null && game.blockPosErase == null">Not available</span>
          <span ng-hide="game.blockPosPlace != null">{{game.blockPosErase}}</span>
          <span ng-show="game.blockPosPlace != null">{{game.blockPosPlace}}</span>
        </div>
        <div class="section">
          <div class="title">Menu</div>
          <div>
            <button ng-click="game.save()">Save</button>
            <button ng-click="game.load()">Load</button>
          </div>
          <div>We're supporting only one storage. It will be more than one soon.</div>
        </div>
        <div class="section api">
          <div class="title">API</div>
          <div>The 'cc' and 'codingcraft' is same objects. To see the result of the code, you might need to play the game</div>
          <ul>
            <li>cc.setBlock(1, 1, 1, BLOCK.diamond);</li>
            <li>cc.removeBlock(1, 1, 1);</li>
            <li>cc.getBlock(1, 1, 1);</li>
            <li>cc.move(1, 0, 0); // move left</li>
            <li>cc.move(-1, 0, 0); // move right</li>
            <li>cc.move(0, 0, 1); // move forward</li>
            <li>cc.move(0, 0, -1); // move backward</li>
            <li>cc.moveTo(0, 20, 0);</li>
          </ul>
          <div>Examples.</div>
          <pre>for (var i = -10; i < 10; i++) {
  for (var j = -10; j < 10; j++) {
    for (var k = -10; k < 10; k++) {
      if ((i*i + j*j + k*k) < 10*10) {
        cc.setBlock(i, j+10, k, BLOCK.diamond);
      }
    }
  }
}
cc.moveTo(0, 20, 0);</pre>
        </div>
      </div>
      {% endraw %}
    </div>

    <script src="js/bundle.js"></script>
  </body>
</html>
{% endautoescape %}

